:root {
    --content-width: 40%; 
    --min-content-width: 400px; 
    --max-content-width: 700px; 
    --codecool-black: #525156;
    --codecool-red: #D94140;
    --codecool-blue: #4c98ca;
}

@font-face {
    font-family: "Starz";
    src: url(stars.ttf);
}

/* LOGIN PAGE */

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background: url(background.png);
    background-position: center;
    background-size: cover;  
    background-color: #F4F3F1;
}

#links {
    width: 5%;
    display: flex;
    justify-content: space-around;
}

.logo {
    position: absolute;
    top: 5%;
    background-color: #F4F3F1;
}

.login-screen {
    display: flex;
    justify-content: center;
    height: 100%;
}

.login-form {
    color: black;
    width: 300px;
    height: 130px;
    position: absolute;
    top: 350px;
}

.login-form h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Starz", Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 7px;
    color: var(--codecool-black);
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="text"], input[type="password"], input[type="submit"] {
    height: 30px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.19);    
    text-align: center;
}

.login-form input[type="submit"] {
    border-radius: 25px;
    background-color: #4c98ca; 
    color: #F4F3F1;
    opacity: 0.5;
    transition: all 0.3s ease;

}

.login-form input[type="submit"]:hover {
    opacity: 1;
}

.login-form a {
    text-decoration: none;
    color: #525156;
    display: block;
    text-align: center;
    font-size: 13px;
    margin: 0 0 7px 0;
}

/* DASHBOARD */

.top-panel {
    margin: 0px auto 0px auto;
    width: var(--content-width);
    min-width: var(--min-content-width);
    max-width: var(--max-content-width);
}

.top-bar {
    background-color: white;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 12px 0 8px 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#bar-logo-text {
    margin-right: auto;
    margin-left: 8px;
    padding-top: 4px;
    font-family: "Starz", Helvetica, sans-serif;
    letter-spacing: 1px;
    color: #525156;
}

#bar-logo {
    transform: scale(1.2);
}

#logout {
    text-transform: uppercase;
    color: var(--codecool-black);
    text-decoration: none;
    margin-right: 10px;
}

#logout:hover {
    color: var(--codecool-red);
}

.top-bar p {
    margin: 0 5px 0 5px;
}


.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 2px;
}

.navigation-bar li {
    width: 20%;
}

.navigation-bar a {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 400;    
    text-decoration: none;
    text-align: center;
    background-color: #4c98ca;
    opacity: 1;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border-left: 1px solid white;
    text-transform: capitalize;
}

.navigation-bar a:hover {
    opacity: 0.6;
    background-color: #D94140;
}

#left-button {
    border-radius: 0 0 0 10px;
}

#right-button {
    border-radius: 0 0 10px 0;
}

#dashboard {
    margin: 50px;
}

.content {
    font-family: "Open Sans", sans-serif;
    color: var(--codecool-black);
    width: var(--content-width);
    min-width: var(--min-content-width);
    max-width: var(--max-content-width);
    background-color: rgb(255, 255, 255);
    margin: 20px auto 0 auto;    
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}

.content h1 {
    margin: 0 0 5px 0;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    color: #4c98ca;
}
/* 
.wallet-content {
    width: 70%;
} */

.wallet-content tr {
    /* display: flex;
    justify-content: space-between; */
    margin-right: 10px;
}

.profile {
    display: flex;
    justify-content: flex-start;
}

.profile a {
    text-decoration: none;
    color: #525156;
}

.profile a:hover {
    color: #4c98ca;
}


.profile-left {
    margin-right: 10%;
    width: 190px;
}

.profile-right {
    width:60%;
    height: 100%;
}

.profile h2 {
    margin: 0 auto 0 0;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.profile-left h2 {
    margin-top: 10px;
}

.profile-right h2 {
    color: #4c98ca; 
    font-size: 15px;
}

.profile-setting {
    font-size: 16px;    
    margin: 0px;
    text-transform: uppercase;
}

.user-entry {
    text-transform: lowercase;
    text-transform: capitalize;
}

.profile-right tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

/* LISTS */

.buttons {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 20px auto;   
    width: 40%;
}

#add-button {
    background-color: #de592c;
    border-radius: 20px;
    transition: all 0.3s ease;
}

#add-button:hover {
    background-color: #a11e23;
}

#search-button {
    background-color: var(--codecool-blue);
    border-radius: 20px;
}

#search-button {
    background-color: var(--codecool-blue);
    text-transform: capitalize;
}

.buttons a {
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    height: 100%;
    display: inline-block;
    padding: 5px;
    border-radius: 20px;
    font-size: 18px;
}

.users-table {
    width: 100%; 
    border-spacing: 0px;   
}

.users-table td {
    margin: auto;
    width: 20%;
    text-align: center;
}

.users-table tr{
    display: flex;
    justify-content: space-between;
}

.header {
    text-transform: uppercase;
    background-color: #c0b6ac;
    color: white;
}

.odd {
    background-color: #e9e9e9;
}

.images {
    float:left;
    border-style:solid;
    border-width:3px;
    padding:20px;
    margin:5px;
    height:220px;
    width:220px;
    overflow:hidden;
    text-align:center;
}

.clearfix {
    clear: both;
}