:root {
    --content-width: 40%; 
    --min-content-width: 400px;  
}

/* LOGIN PAGE */

body {
    font-family: Helvetica, sans-serif;
    background: url(background.png);
    background-position: center;
    background-size: cover;  
    background-color: #F4F3F1;
}

.logo {
    position: absolute;
    top: 5%;
    background-color: #F4F3F1;
}

.login-screen {
    display: flex;
    justify-content: center;
    height: 100%;
}

.login-form {
    color: black;
    width: 300px;
    height: 130px;
    padding: 30px;
    position: absolute;
    top: 350px;
}

.login-form input[type="text"], input[type="password"], input[type="submit"] {
    height: 30px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.19);    
    text-align: center;
}

.login-form input[type="submit"] {
    border-radius: 25px;
    background-color: #4c98ca; 
    color: #F4F3F1;
    opacity: 0.5;
    transition: all 0.3s ease;

}

.login-form input[type="submit"]:hover {
    border-radius: 25px;
    opacity: 1;
}

.login-form a {
    text-decoration: none;
    color: #525156;
    display: block;
    text-align: center;
    font-size: 13px;
}

/* DASHBOARD */

.top-panel {
    margin-bottom: 10px; 
}

.top-bar {
    background-color: white;
    width: var(--content-width);
    min-width: var(--min-content-width);
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0px auto 0px auto;
    padding-top: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}

#bar-logo {
    margin-right: auto;
    margin-left: 10px;
}

.top-bar p {
    margin: 0 5px 0 5px;
}

.main-menu {
    margin: 0px auto 0px auto;

}

.navigation-bar {
    width: var(--content-width);
    min-width: var(--min-content-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px auto 0px auto;
    padding: 0px;
    list-style: none;
    border: 2px;
    min-width: 400px;
}

.navigation-bar li {
    width: 20%;
}

.navigation-bar a {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 900;    
    text-decoration: none;
    text-align: center;
    background-color: rgb(122, 122, 122);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border-left: 1px solid black;
    border-top: 1px solid black;
    pointer-events: none;
}

.active-button {
    background-color: rgb(122, 122, 122);
    pointer-events: all;
}

#left-button {
    border-radius: 0 0 0 10px;
    border-left: 0;
}

#right-button {
    border-radius: 0 0 10px 0;
}

.active-button:hover {
    background-color: aqua;
}

#dashboard {
    margin: 50px;
}

.content {
    width: var(--content-width);
    min-width: var(--min-content-width);
    height: 700px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto 0 auto;    
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
